<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Batignolles_Test::manager" title="Batignolles Test" module="Batignolles_Test" sortOrder="10" resource="Batignolles_Test::manager"/>
        <add id="Batignolles_Test::secret" title="Secret" module="Batignolles_Test" sortOrder="0" parent="Batignolles_Test::manager"
                action="test/index/secret" resource="Batignolles_Test::secret"/>
    </menu>
</config>